*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #F7ECDE;
}

h1 {
  /* fonts */
  font-family: "Pacifico", cursive;
  font-weight: 500;
  Color: rgb(53, 46, 40);
  font-size: 50px;
}

h1::after {
  content: "";
  position: absolute;
  transition: all 1s;
  left: 18px;
  bottom: 0px;
  width: 85%;
  height: 30%;
  background-color: #fec260;
  z-index: -1;
}

h1:hover::after {
  height: 60%;
}


.information {
  border-top: 2px dotted #000000;
  border-bottom: 2px dotted #000000;

}

h2 {
  background-image: linear-gradient(to right, #3ca55c 0% 20%, #b5ac49 70% 100%);
  color: transparent;
  background-clip: text;

  /* fonts */
  font-family: "Righteous", sans-serif;
  font-weight: 500;
  /* Color: rgb(33, 37, 41); */
  font-size: 25px;
}

.name-input,
.url-input {
  border: grey solid 1px;
}

.form-control:focus {
  border: #d99c39 solid 1px;
  box-shadow: 0 0 0 5px #fec26055;
  outline: none;
}

button {
  background-color: #d1512d;
  border: #d1512d 1px solid;
  /* transition: all 1s; */
}

button:hover {
  background-color: #bb4120;
  border: #a03315 1px solid;
}

.first {
  background-color: #9eb23b;
  border: #9eb23b;
}

.first:hover {
  background-color: #8a9e23;
  border: #6e8018;
}

.second {
  background-color: #eb1d36;
  border: #eb1d36;
}

.second:hover {
  background-color: #d30820;
  border: #ba081d;
}
/* fonts */
.the-form label {
  font-family: "PT Sans Caption", sans-serif;
  font-weight: 600;
  Color: rgb(33, 37, 41);
  font-size: 16px;
}

.the-form .color {
  font-family: "PT Sans Caption", sans-serif;
  font-weight: 400;
  Color: rgb(33, 37, 41);
  font-size: 16px;
}

.theade {
  font-family: "PT Sans Caption", sans-serif;
  font-weight: 700;
  Color: rgb(33, 37, 41);
  font-size: 16px;
}

.the-color {
  font-family: "PT Sans Caption", sans-serif;
  font-Weight: 400;
  Color: rgb(33, 37, 41);
  font-size: 16px;
}

.the-calor {
  font-family: "PT Sans Caption", sans-serif;
  font-Weight: 400;
  Color: rgb(123, 125, 127);
  font-size: 16px;
}
.message{
  /* width: 300px;
  height: 200px; */
  background-color: #FFFFFF;
  left:30%;
  bottom:0;
}
.circle
{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color:#F15F5D;
  position: relative;
}
.circle::after{
  content: "";
  position: absolute;
  left: 40px;
  top: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #FEBE2E;
}
.circle::before{
  content: "";
  position: absolute;
  left: 80px;
  top: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color:#4DB748;
}
.prag{
  font-family: "Bree Serif", serif;
  font-weight: 400;
Color:rgb(53, 46, 40);
font-size: 21px;
}
.s-prag{
  font-family: "PT Sans Caption", sans-serif;
  font-weight: 400 ;
  Color:  rgb(33, 37, 41);
  font-size:   18px;
}
.width{
  width: 40%;
}